/*Globales*/
*,
*::before,
*::after {
    --blanco-texto: #ffffff;
    --amarillo-texto: #eac102;
    --azulOscuro-bkg: #040f1f;
    box-sizing: border-box;
}

/* Fuente personalizada */
@font-face {
    font-family: "palafuente";
    src: url("./fonts/pala.ttf") format('ttf'),
        url("./fonts/palab.ttf") format('ttf'),
        url("./fonts/palabi.ttf") format('ttf'),
        url("./fonts/palai.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "palafuente";
    background-color: var(--azulOscuro-bkg);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: var(--blanco-texto);
}

.slide--menu {
    transform: translateX(-100%);

}

.slide--menu__estilos {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
    background: url("./imagenes/bkg_mobile.png") no-repeat;
    background-size: cover;
    transition: transform 0.4s ease-in-out;
}

.slide--menu__estilos img {
    margin-top: 10px;
    margin-bottom: 20px;
}

.toggleOne {
    width: min(768px, 11%);
    position: absolute;
    z-index: 200;
    right: 2%;
    top: 1%;
    cursor: pointer;
}

.toggleOne:hover {
    color: var(--azulOscuro-bkg);
    opacity: 0.5;
    transition-property: color;
    transition-duration: 0.9s;
    transition-delay: 0.1s;
}

.navegacion {
    width: 100%;
}

.navegacion--ul {
    list-style: none;
    padding-left: 0px;
    line-height: 90px;
    font-size: 32px;
}

.navegacion--ul li:hover {
    background: linear-gradient(var(--azulOscuro-bkg), var(--azulOscuro-bkg)) padding-box,
        linear-gradient(145deg, transparent 35%, #eac102, #fffdf6) border-box;
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 20px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
    transform: scale(1.0);
}

.navegacion--ul li a:hover {
    text-decoration: none;
    color: var(--amarillo-texto);
}

.navegacion--ul li a {
    text-decoration: none;
    color: var(--blanco-texto);
}

.allcontent {
    display: flex;
    width: 100%;
}

.content--main {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: -webkit-center;
}

.nombreSecciones {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 55px;
}

.nombreSecciones--titulo {
    color: var(--amarillo-texto);
    font-size: 43px;
    font-weight: lighter;
}

.nombreSecciones--bkg {
    font-size: 63px;
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 70%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
}

.nombreSecciones--img {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 80%;
}

/* Encabezado */
.bkg--im {
    display: block;
    background: url("./imagenes/bkg_mobile.png") no-repeat;
    background-size: cover;
    min-height: 828px;
}

.toggleTwo {
    width: min(768px, 11%);
    position: absolute;
    z-index: 200;
    right: 2%;
    top: 1%;
    cursor: pointer;
}

.toggleTwo:hover {
    color: var(--amarillo-texto);
    transition-property: color;
    transition-duration: 0.9s;
    transition-delay: 0.1s;
}

.upTo {
    width: min(768px, 11%);
    position: fixed;
    z-index: 200;
    right: 0%;
    top: 95%;
    color: var(--blanco-texto);
    opacity: 0.3;
    cursor: pointer;
}

.upTo:hover {
    color: var(--blanco-texto);
    opacity: 1;
    transition-property: color;
    transition-duration: 0.9s;
    transition-delay: 0.1s;
}

.brand {
    margin: 5px;
}

/* introducción */
.introduccion {
    width: 80%;
    font-size: 22px;
}

.introduccion--saludos {
    margin-top: 73px;
    font-size: 43px;
}

.miNombre {
    color: var(--amarillo-texto);
}

.iconos {
    display: flex;
    gap: 22px;
    justify-content: center;
    position: relative;
    top: 50px;
}

/* sobre mi */
.sobremi--img {
    width: 100%;
}

.sobremi--textcontent {
    width: 63%;
    font-size: 15px;
    margin-top: 40px;
}

.sobremi--hola {
    font-size: 17px;
}

.resaltar--enunciado {
    font-size: 17px;
    color: var(--amarillo-texto);
}

.sobremi--info {
    font-size: 14px;
    margin-top: 25px;
}

.iconos--cv {
    width: 37px;
}

/* skills */

/* formacion */
.formacion--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.formacion--iconos p {
    margin: 0;
}

.formacion--img {
    width: 60%;
}

/* proyectos */
.proyectos--proyectoName {
    margin-top: 0;
    font-size: 30px;
}

.proyectos--titulos {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyectos--img {
    width: 100%;
}

.proyectos--botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
}

.proyectos--botones button {
    width: 162px;
    height: 48px;
    background: #36465d47;
    border-radius: 20px;
    outline: none;
    border: none;
}

.proyectos--botones__repo {
    color: var(--blanco-texto);
    font-size: 28px;
}

.proyectos--botones__demo {
    color: var(--amarillo-texto);
    font-size: 28px;
}

.proyectos--botones button:hover {
    background-color: #3e3e3e;
    cursor: pointer;
}

/* contacto */
.form--container {
    width: min(320px, 100%);
    height: min(330px, 50%);
    margin: 36px 0;
    padding: 14px;
    background: linear-gradient(#040f1f, #040f1f) padding-box,
        linear-gradient(145deg, transparent 35%, #eac102, #fffdf6) border-box;
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 20px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.contacto p {
    font-size: 30px;
    margin-top: 0;
}

.contacto--label input {
    font: inherit;
    color: var(--blanco-texto);
}

.contacto--form {
    width: min(320px, 80%)
}

.contacto--form__inputs {
    display: grid;
    gap: 18px;
    color: var(--amarillo-texto);
}

.contacto--label {
    width: 100%;
    display: grid;
    grid-template-areas: "input";
}

.contacto--label__input {
    grid-area: input;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #36465d47;
    padding: .7rem 1.5rem;
    background-color: var(--azulOscuro-bkg);
}

.contacto--label__text {
    grid-area: input;
    z-index: 100;
    width: max-content;
    height: 100%;
    margin-left: 1rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    transform-origin: left center;
    transition: .3s;
}

.contacto--label__input:focus+.contacto--label__text,
.contacto--label__input:not(:placeholder-shown)+.contacto--label__text {
    background-color: var(--azulOscuro-bkg);
    border-radius: 20px;
    height: 10px;
    transform: translateY(-50%) scale(.9);
}

.contacto--label__input:focus-visible {
    outline: none;
    border-color: var(--amarillo-texto);
    background-color: #36465d47;
}

.contacto--boton {
    width: 100px;
    height: 30px;
    background: #36465d47;
    border-radius: 20px;
    outline: none;
    border: none;
    color: var(--amarillo-texto);
    font-size: 18px;
    margin: 15px;
}

.contacto--boton:hover {
    background-color: #3e3e3e;
    cursor: pointer;
}